<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     Feedback Information, </p>
      <strong>Topic:- </strong><%= @user.topic %><br/>
      <strong>Description:-</strong> <%= @user.details %><br/>
  </body>
</html>