<div class="container-fluid">
  <div style="margin-bottom:0px;">
    <h1><center>User list</center></h1>
    <table class="table-bordered table-striped table-condensed" id="user_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'BACK', root_path, class: "btn btn-warning" %>
</div>


<script type="text/javascript">
  jQuery(document).ready(function() {
    $('#user_list').dataTable( {
      "aoColumns": [
        null,
        null
      ]
    });
  });
</script>
